/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "nprogress";
@import "nprogress-bootstrap";
@import "teams";
@import "team";
@import "players";
@import "player";


html, body {
	height: 100%;
	width: 100%;
	background-color: $white;
	font-family: 'Lato', sans-serif;
}

body > .container-fluid {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

h1 {
	margin-bottom: 20px;
}

.box {
	background-color: white;
	padding: 15px 20px;
	overflow-y: auto;

	margin-bottom: 30px;

	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.1);
	// border-radius: 8px;
	transition: all .15s cubic-bezier(.4,0,.2,1);
	-webkit-transition: all .15s cubic-bezier(.4,0,.2,1);

	h2, h4 {
		font-weight: 300;
		text-align: center;
	}

	// .input-group {
	// 	cursor: pointer;

	// 	span.glyphicon {
	// 		color: $dark;
	// 	}

	// 	input {
	// 		color: black;
	// 	}
	// }

	// .action {
	// 	position: absolute;
	// 	top: -15px;
	// 	right: 0px;
	// 	height: 30px;
	// 	width: 30px;
	// 	border-radius: 15px;
	// 	background-size: 16px 16px;
	// 	background-color: $dark;
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// }
}

.btn-primary {
	border-radius: 0px;
}

.navbar {
	border: none;
	// box-shadow: 0px 0px 2px 0px rgba(34, 34, 34, 34);
	border-radius: 0px;
	margin-bottom: 0px;
	height: $navbar-height;
	background-color: white;

	.popover {
		width: 230px;

		input,span {
			color: black;
		}

		span {
			cursor: pointer;
		}

		.form-group {
			margin-bottom: 15px;
		}
	}
}

.navbar-header {
	width: $sidebar-width;
	@media only screen and (max-width: $screen-sm) {
		width: 100%;
	}
	height: 100%;
	background-color: $primary;
	text-align: center;

	img {
		padding-top: $logo-padding;
		height: $navbar-height - (2 * $logo-padding);
		width: auto;
	}
}

#account {

	a {
		color: $dark;
		font-size: 20px;
		font-weight: 300;

		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:last-of-type {
			margin-right: 10px;
		}
	}

	.dropdown.open {
		a {
			background-color: transparent;
		}
	}
}

aside {
	width: $sidebar-width;
	height: calc(100% - 60px);
	@media only screen and (max-width: $screen-sm) {
		display: none;
		width: 100%;
	}
}

section {
	height: calc(100% - 60px);
	border-top: $light-border;
	margin-left: $sidebar-width;
	position: fixed;
	top: $navbar-height;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	@media only screen and (max-width: $screen-sm) {
		margin-left: 0;
	}

	> .container-fluid {
		padding: 20px;
	}
}

aside {
	background-color: $dark;
}

section {
	> h2 {
		font-weight: 300;
	}
}

.site-nav-links {
	list-style-type: none;

	.nav-row {
		font-size: 16px;
		height: 100%;
		color: rgba(255,255,255,0.5);

		.col-wrapper {
			padding-top: 19px;
			padding-bottom: 19px;
			position: relative;

			a {
				margin-left: 25px;
				color: rgba(255,255,255,0.5);

				i {
					padding-right: 11px;
				}

				i.warning {
					color: $red;
				}
			}

			a:hover {
				color: rgba(255,255,255,1.0);
				text-decoration: none;
			}
		}
	}

	.active {
		background-color: $white;

		.col-wrapper a {
			color: $dark;
		}

		.col-wrapper a:hover {
			color: $dark;
		}
	}
}

#add-modal {
	input,select {
		color: black;
	}
}