#players-container {
	padding: 0px 40px;

	h1 {
		font-weight: 300;
		text-align: center;
	}

	span,input {
		color: black;
	}

	.box {
		cursor: pointer;

		&:hover {
			transform: translateY(-1px);
			-webkit-transform: translateY(-1px);
			box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
			-webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
		}
	}
}